[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
flask = "*"
argon2-cffi = "*"
requests = "*"
pyjwt = "*"
python-dotenv = "*"

[requires]
python_version = "3.9"
